# 제어문

# 1. 조건문

In [2]:
# 미성년자 판단하기(만 19세이상)
# 1. 나이를 age라는 변수로 만들고 age가 19 미만이면 "미성년자 입니다" 라고 출력해주세요
age = 16
if age < 19:
    print("미성년자 입니다")

미성년자 입니다

In [6]:
# 2. 나이를 age라는 변수로 만들고 age가 19 미만이면 "미성년자 입니다" 라고 출력하고, 이상이면 "성인 입니다"라고 출력해주세요
age = 59
if age < 19:
    print("미성년자 입니다")
else: print("성인 입니다")

성인 입니다

In [ ]:
# 등급에 따라 메세지 출력하기
# A-Perfect, B-Excellent, C-Good, 그 외 노력하세요 라고 출력해주세요
grade = "C"
if grade == "A":
    print("Perfect")
elif grade == "B":
    print("Excellent")
elif grade == "C":
    print("Good")
else: print("노력하세요")

노력하세요

## 1) 연산자

In [ ]:
# 조건식만 적어보기

문제. 나이가 10세 이상이고, 키가 120cm 이상일 때만 놀이기구 탑승

* 탑승 가능하면 "통과" 아니면 "탑승 불가"라고 출력하기

In [ ]:
age = 14
height = 119

if (age >= 10) & (height >= 120):
    print("통과")
else: print("탑승 불가")

탑승 불가

문제. 10만원 이상 구매하거나 "Gold" 등급이면 10% 할인

* 할인이 가능하면 "10% 할인 가능" 아니면 "10% 할인 불가" 출력

In [20]:
price = 80000
level = "Gold"

if (price >= 100000) | (level == "Gold"):
    print("10% 할인 가능")
else: print("10% 할인 불가")

10% 할인 가능

## 2) 활용

In [ ]:
# 지갑 안에 운전면허증(license)이 있다면 통과이고 없으면 벌금이다. 
# 만약 벌금을 납부하게 되면 지갑에 카드(credit card)가 있으면 카드 결제이고 아니면 현급 납부이다.

# 벌금을 납부하게 됨다면 "벌금 대상자"를 출력하고 아니면 "통과"를 출력한다
# 그리고 벌금을 납부하게 된다면 "카드납부" 아니면 "현금납부"
# 이 사람은 어떻게 해야 하는가?

# wallet = ["credit card", "trash"]
# if license in wallet:
#     print("통과")
# else: print("벌금 대상자")

# if "credit card" in wallet:
#     print("카드 결제")
# else: print("현금 결제")

wallet = ["credit card", "trash"]
if license in wallet:
    print("통과")
else: 
    print("벌금 대상자")
    if "credit card" in wallet:
        print("카드 납부")
    else: print("현금 납부")

벌금 대상자
카드 결제

## 4) 예제

문제 1. 온도가 15도에서 25도 사이인지 확인하는 예시:

In [9]:
temperature = (27)
if (temperature > 15) & (temperature < 25):
    print("온도가 15도에서 25도 사이 입니다.")
else: print("온도가 15도에서 25도 사이가 아닙니다.")

온도가 15도에서 25도 사이가 아닙니다.

문제 2. 학생의 성적에 따른 장학금 여부 결정

* GPA가 4.0 이상이면 100% 장학금을 받습니다.
* GPA가 3.5 이상이면 50% 장학금을 받습니다.
* GPA가 3.0 이상이면 30% 장학금을 받습니다.
* 그 외에는 장학금을 받을 수 없습니다.

In [10]:
GPA = 3.8

if GPA >= 4.0:
    print("100% 전액 장학금")
elif GPA >= 3.5:
    print("50% 장학금")
elif GPA >= 3.0:
    print("30% 장학금")
else: print("장학금 대상자 아님")

50% 장학금

문제 3. 특정 단어가 문장에서 없는지 확인

* search_word가 text에 포함되지 않으면 해당 단어가 문장에 없다는 메시지를 출력합니다.

In [7]:
text = "데이터 분석은 흥미롭고 중요한 분야입니다."
search_word = "AI"

if search_word in text:
    print("해당 단어가 문장에 있습니다.")
else: print("해당 단어가 문장에 없습니다.")

해당 단어가 문장에 없습니다.

# 2. 반복문

## 1) While 문

<img src='https://www.dropbox.com/scl/fi/r0815e20gb2hv6a599i00/_-while.png?rlkey=dexzbwy3xu4phnzvo65cb6hbq&st=ykavuhx3&dl=1' width=30%>

### (1) 표현

In [12]:
count = 0
while count < 3:
    print(count)
    count += 1

0
1
2

### (2) break

In [13]:
count = 0
while True:
    count += 1

    if count > 3:
        break

    print(count)

1
2
3

In [18]:
count = 0
while True:
    count += 1
    print(count)

    if count > 3:
        break

1
2
3
4

### (2) continue

In [17]:
count = 0
while count < 3:
    count += 1
    
    if count % 2 != 0:
        continue

    print(count)

2

## 2) For 문

<img src='https://www.dropbox.com/scl/fi/eezsh68wobwm87rhh7209/_-for.png?rlkey=w1mhrm40cg413ajdajix0bb9m&st=ptyurj6a&dl=1' width='30%'>

### (1) 표현

In [ ]:
num_list = [1, 2, 3]

for num in num_list:
    print(num)

1
2
3
3

### (2) 관련 주요 함수

In [31]:
# range(n): 0부터 n-1까지 1씩 증가하는 연속적인 범위를 생성해줌
# 다음 출력이 나오도록 코딩해주세요
# 출력 결과
# 1
# 2
# 3
# 4
# 5
num_list = list(range(1, 6))
print(num_list)
for num in num_list:
    print(num)

[1, 2, 3, 4, 5]
1
2
3
4
5

In [ ]:
num_list = range(1, 6)

for num in num_list:
    print(num)

In [28]:
num_list = range(5)

for num in num_list:
    print(num+1)

1
2
3
4
5

In [32]:
students = ["홍길동", "김철수", "한유리", "정성우"]

for name in students:
    print(name)

홍길동
김철수
한유리
정성우

In [33]:
# 위치 이름
count = len(students)

# print(count)

for i in range(count):
    print(i, students[i])

0 홍길동
1 김철수
2 한유리
3 정성우

In [39]:
for i, name in enumerate(students):
    print(i, name)

0 홍길동
1 김철수
2 한유리
3 정성우

### (3) break/continue

#### break

In [76]:
# 1부터 10까지 숫자를 하나씩 출력 7이 나오면 반복문 중지

for num in range(1,11):
    if num == 7:
        break
    print(num)

1
2
3
4
5
6

In [78]:
# 1부터 10까지 숫자를 하나씩 출력 7이 나오면 반복문 중지

for num in range(1,11):
    print(num)
    if num == 7:
        break

1
2
3
4
5
6
7

#### continue

In [79]:
# 1부터 10까지 숫자 중에서 5만 빼고 출력하기

for num in range(1, 11):
    if num == 5:
        print("건너뛰기")
        continue
    print(num)

1
2
3
4
건너뛰기
6
7
8
9
10

### (4) 활용

In [67]:
# # 미션
# score_data = {"홍길동": 68, "최수연": 44, "김철수": 90}

# # ## 출력 결과
# # 홍길동
# # 최수연
# # 김철수

# score_key = score_data.keys()
# print(score_key)

# for i in score_key:
#     print(i)

# # # ## 출력 결과
# # # 68
# # # 44
# # # 90

# score_key = score_data.values()
# print(score_key)

# for i in score_key:
#     print(i)

# # ## 출력 결과
# # 홍길동 68점
# # 최수연 44점
# # 김철수 90점

score_item = score_data.items()
print(score_item)

for name, score in score_item:
    # print(name, score, "점")
    print(f"{name} {score}점")

dict_items([('홍길동', 68), ('최수연', 44), ('김철수', 90)])
홍길동 68점
최수연 44점
김철수 90점

In [71]:
for name in score_data:
    print(f"{name} {score_data[name]}점")

홍길동 68점
최수연 44점
김철수 90점

In [68]:
names = ["홍길동", "최수연", "김철수"]
scores = [68, 44, 90]

for name, score, in zip(names, scores):
    print(name, score)

홍길동 68
최수연 44
김철수 90

## 3) 예제

예제1. 학생 성적 딕셔너리

반복문을 사용해서 "홍길동님의 성적은 85점입니다" 형태로 출력하세요.

```
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}
```

In [40]:
grades = {
    "John": 85,
    "Emily": 92,
    "Tom": 78,
    "Lucy": 88
}

for grade in grades:
    print(grade)

John
Emily
Tom
Lucy

예제2. 센서 온도 데이터

30도 이상인 데이터만 출력하세요

```
temperature_data = [22.5, 35.2, 28.4, 40.1, 25.3]
```

예제 3. 고객 주문 데이터

반복문을 사용해서 총 매출을 계산하세요.

```
orders = [
    {"customer": "Kim", "amount": 120000},
    {"customer": "Lee", "amount": 85000},
    {"customer": "Park", "amount": 99000},
]
```

예제 4. 리뷰 데이터

짜장면이 언급된 데이터만 출력하세요

```
reviews = [
    "맛있어요! 짜장면 최고예요!",
    "배달이 느렸지만 짬뽕은 맛있었어요.",
    "탕수육은 별로였지만 전체적으로 만족!",
    "짜장면이 너무 짰어요.",
]
```

## 4) List Comprehension