In [2]:
print("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [4]:
print("first", end = "");print("second")

firstsecond

In [6]:
print(5/3)

1.6666666666666667

In [7]:
samsung = 50000
value = samsung * 10
print(value)

500000

In [8]:
total = 298000000000000
now = 50000
per = 15.79
print(total, type(total))
print(now, type(now))
print(per, type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [13]:
s = "hello"
t = "python"
a = s + "! " + t
print(a)

hello! python

In [14]:
print(2 + 2 * 3)

8

In [16]:
a = "132"
print(type(a))

<class 'str'>

In [21]:
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [22]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [24]:
num_str = "15.79"
num_float = float(num_str)
print(num_float, type(num_float))

15.79 <class 'float'>

In [26]:
year = "2020"
int_year = int(year)
print(int_year - 1)
print(int_year - 2)
print(int_year - 3)

2019
2018
2017

In [28]:
air_month_pay = 48584
pay_free_stay = 36

total = air_month_pay * pay_free_stay
print(total)

1749024

In [29]:
letters = "python"
print(letters[0], letters[2])

p t

In [30]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

In [31]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [33]:
string = "PYTHON"
print(string[::-1])

NOHTYP

In [34]:
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))

010 1111 2222

In [35]:
num_replace = phone_number.replace("-", " ")
print(num_replace.replace(" ", ""))

01011112222

In [38]:
url = "http://sharebook.kr"
url_sprit = url.split(".")
print(url_sprit[-1])

kr